.devices-wrap,
.main-layout {
  height: 100vh;
  width: 100vw;
}
.welcome {
  height: 100%;
  width: 100%;
  background: url(../../../../static/images/91536833610_.pic_hd.jpg) no-repeat
    center;
  background-size: cover;
}
.code {
  margin: 5em 10em;
  position: relative;
  top: 50%;
}
.main-layout-header {
  height: 45px;
  color: #777777;
  background: #ffffff;
  z-index: 2;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #e9ecf3;
}
.main-header-logo {
  font-size: 18px;
  width: 56px;
  height: 40px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex: none;
}
.main-header-brand {
  height: 40px;
  width: 145px;
  flex: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 3px;
}
.main-header-control {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header-control-buttons {
  height: 45px;
  width: 470px;
  flex: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.header-control-buttons button {
  /* margin-left: 20px; */
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 8.5px;
  height: 100%;
}
.header-control-buttons button > .button-icon {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.header-control-buttons button > .button-icon span {
  margin-left: 0;
}
.header-control-buttons .ant-btn span {
  margin-left: 0 !important;
}
.header-control-buttons button > .button-icon > img,
svg {
  height: 15px;
  width: 15px;
  margin-right: 8px;
}
.header-control-login {
  height: 45px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding-right: 16px;
}
.header-control-login p {
  height: 45px;
  line-height: 45px;
  margin: 0;
}
.header-control-login .circle-btn {
  width: 24px;
  height: 24px;
  margin-top: 2px;
}

.header-control-login button {
  margin-left: 12px;
}
.main-header-brand img {
  height: 100%;
}

.main-layout-header button {
  border: none;
  outline: none;
}

.main-first-layout {
  width: 100%;
  height: 100%;
  background: #404040;
  box-sizing: border-box;
}

.main-layout-sider {
  position: relative;
  min-width: 300px !important;
  max-width: 80% !important;
  background: #f2f5fa;
  transition: unset !important;
  border-right: 1px solid #e9ecf3;
}

.main-layout-sider .ant-layout-sider-children {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.side-custom-tabs-tabpane-content-drag {
  position: absolute;
  top: 44px;
  right: 0;
  width: 2px;
  height: calc(100% - 44px);
  background: transparent;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: ew-resize;
}

.main-layout-content {
  position: relative;
  height: 100%;
  background: #2b2b2b;
}

.main-content-layout-content {
  height: 100%;
}

/* Left sider styles*/

.side-custom-tabs {
  height: 100%;
  width: 100%;
}

.side-custom-tabs > div {
  margin: 0 !important;
}

.side-custom-tabs-wrap {
  height: calc(100vh - 45px);
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background: white;
}

.side-custom-tabs-tabpane-header {
  height: 40px;
  width: 100%;
  flex: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #e9ecf3;
  background: #ffffff;
}

.side-custom-tabs-tabpane-header button {
  width: 24px;
  height: 24px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: none;
  margin-right: 16px;
}

.side-custom-tabs-tabpane-content {
  height: 100%;
  color: #5e5e5e;
}

.side-custom-tabs-tabpane-content-list {
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.side-custom-tabs .ant-tabs-tab {
  font-size: 14px;
  color: #5e5e5e;
  margin: 0 !important;
}

.side-custom-tabs .ant-tabs-tab-active {
  color: #707070;
  background: #ffffff;
}

.ant-tabs-bar {
  margin: 0 !important;
}
.side-custom-tabs.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar {
  border: none;
  margin: 0;
}
.side-custom-tabs.ant-tabs-vertical.ant-tabs-left > .ant-tabs-content {
  padding-left: 0 !important;
  height: 100%;
  border: none;
}
.side-custom-tabs.ant-tabs-vertical.ant-tabs-left.ant-tabs-line {
  width: 100%;
}
.side-custom-tabs.ant-tabs-vertical.ant-tabs-left
  > .ant-tabs-bar
  .ant-tabs-ink-bar {
  left: 1px !important;
}
.side-custom-tabs.ant-tabs-vertical.ant-tabs-left
  > .ant-tabs-bar
  .ant-tabs-nav-wrap {
  border-right: 1px solid #303030 !important;
  margin-right: 0 !important;
  background: #e9ecf3 !important;
}

/* Center styles */

.main-content-layout-wrap {
  height: calc(100vh - 45px);
  width: 100%;
  background: #2b2b2b;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.main-route-bar {
  /* 与脚本列表 header 高度对齐 */
  height: 44px;
  width: 100%;
  flex: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  background: #f2f5fa;
  border-bottom: 1px solid #e9ecf3;
  line-height: 35px;
}

.main-route-bar-title {
  margin: 0;
  line-height: 1;
}

.main-business-wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
  background: #e9ecf3;
}

.main-business-worker-area {
  height: 100%;
  width: 100%;
  background: #ffffff;
  overflow: auto;
}

.main-terminal-wrap {
  height: 350px;
}

.main-terminal-drag-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e9ecf3;
  z-index: 1;
}

.main-terminal-drag-line:hover {
  cursor: ns-resize;
}

.main-terminal {
  height: 350px;
  position: relative;
  min-height: 41px;
  max-height: 80%;
  background: #e9ecf3;
  width: 100%;
  flex: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.main-terminal-wrap-hide {
  height: 40px !important;
}

.main-terminal-control-bar {
  height: 41px;
  width: 64px;
  position: absolute;
  top: 0;
  right: 16px;
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #b0b0b0;
}

.main-terminal-control-bar button {
  width: 24px;
  height: 24px;
  border: none;
  background: #f2f5fa !important;
}

.main-terminal-control-bar i:hover {
  cursor: pointer;
}

/* Main business tabs* .main-common-tabs*/

.main-common-tabs {
  width: 100%;
  height: 100%;
}
.main-common-tabs .ant-tabs-content {
  height: calc(100% - 40px);
}

.main-common-tabs div:nth-of-type(1) {
  margin: 0;
}

.main-common-tabs div:not(:first-child) {
  /* background: red; */
}
.main-common-tabs .ant-tabs-content .ant-tabs-tabpane {
  height: 100%;
  color: #b0b0b0;
}
.main-common-tabs .ant-tabs-bar {
  color: #b0b0b0;
  margin: 0 !important;
}
.main-common-tabs .ant-tabs-bar > .ant-tabs-nav-container .ant-tabs-nav-wrap {
  background: #e9ecf3;
}
.main-common-tabs .ant-tabs-tab {
  margin: 0;
}
.main-common-tabs .ant-tabs-tab-active,
.ant-tabs-tab {
  font-weight: 500;
  background: #ffffff;
  padding: 10px 18px !important;
}
.ant-tabs.ant-tabs-top.main-common-tabs.ant-tabs-line {
  background: #ffffff;
}
.ant-tabs-nav-scroll {
  height: 40px;
  background: #f2f5fa;
}

/* Terminal */
.main-terminal-area {
  overflow: auto;
  background: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.terminal-area-log {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  overflow: hidden;
}

#terminal-log-list {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane {
  border-top: 1px solid #e9ecf3;
}

.terminal-area-select {
  height: 32px;
  width: 100%;
  flex: none;
  background: #f2f5fa;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding-left: 8px;
}

.ant-select-selection.ant-select-selection--single {
  width: 130px;
  height: 30px;
  border: none;
  background: #f2f5fa;
  box-shadow: none;
}

.main-tree-area {
  box-sizing: border-box;
  padding: 6px;
  overflow: auto;
  background: #ffffff;
}
