.device-wrap {
  width: 100%;
  background: transparent;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.screen-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
  position: relative;
}

.screen-canvas {
  width: 400px;
  height: 800px;
  overflow: hidden;
  position: absolute;
  background: rgba(255, 0, 255, 0.3);
  z-index: 2;
  -webkit-app-region: no-drag;
}

.control-wrap {
  width: 75px;
  height: 100%;
  flex: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background: transparent;
  overflow: hidden;
}

.control-space {
  width: 10px;
  height: 100%;
  flex: none;
  background: transparent;
}

.control-container {
  width: 65px;
  height: 100%;
  flex: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background: transparent;
}

.control-bar {
  width: 100%;
  background: #f0f0f0;
  flex: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #757575;
  box-sizing: border-box;
  padding: 16px;
}

.control-bar button {
  width: 36px;
  border: none !important;
  background: #f0f0f0;
  margin-bottom: 24px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.reply-button {
  transform: rotate(90deg);
  transform-origin: 45% 45%;
}

.control-container-space {
  height: 100%;
  width: 100%;
  background: transparent;
}

.innerScreenshotContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.innerScreenshotContainer .screenshotActionsPanel {
  margin: 0 auto 2px auto;
}
.highlighter-box {
  position: absolute;
  opacity: 0.5;
  cursor: pointer;
}

.highlighter-box.inspected-element-box div {
  background-color: blue;
  visibility: hidden;
}

.highlighter-box.hovered-element-box div {
  background-color: yellow;
  visibility: hidden;
}

.highlighter-box.inspected-element-box.hovered-element-box div {
  background-color: green;
}

.highlighter-box.hovered-element-box div,
.highlighter-box.inspected-element-box div {
  position: relative;
  height: 100%;
  width: 100%;
  visibility: visible;
}
.v-input {
  opacity: 0;
  max-width: 10px;
}
